.title-section {
  text-align: center;
  font-size: 22px;
}

.error-field {
  color: #ff4d53;
  margin-left: 4px;
  font-size: 12px;
}

.submit-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
