.title-section {
  text-align: center;
  font-size: 22px;
}

.error-field {
  color: #ff4d53;
  margin-left: 4px;
  font-size: 12px;
}

.submit-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.flex2 {
  flex: 2;
}

.widget-content {
  .widget-content-outer {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .widget-content-left {
    .widget-heading {
      opacity: 0.8;
      font-weight: bold;
    }

    .widget-subheading {
      opacity: 0.5;
    }
  }

  .widget-content-right {
    margin-left: auto;
  }
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-width: 0;
  transition: all 0.2s;
}

.border-circle {
  width: 50px;
  height: 50px;
  border: 3px solid #5defb793;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
}

.card-device {
  margin: 10px auto;
  border-radius: 4px;
  color: rgba(13, 27, 62, 0.7);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .card-device-title {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 20px 0;

    i {
      font-size: 24px;
    }
  }
  .card-device-body {
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
  }

  .card-device-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 1.5px;
    background-color: rgba(26, 54, 126, 0.1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
  }
}

.import-export {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > * {
    margin: 0 4px;
  }
}

.noti-list {
  margin: 0 2px;
  height: 342px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8be8fd;
    border-radius: 100px;
  }
}
